/* .options-div{
    margin-left: 70px;
    text-align: center;
    border: 2px solid black;
} */

  .label-from, .label-to{
      padding-right: 10px;
  }

  .container{
      /* margin-left: 70px; */
      border: 2px solid black;
  }