<div class="container">
  <div>
    <h1>Analysis options</h1>
    <form (ngSubmit)="getData()" #optionsForm="ngForm">

      <div class="form-group">
        <label for="name">Dataset</label>
        <mat-form-field>
          <select matNativeControl required [(ngModel)]="model.dataOption" name="dataOption" #dataOption="ngModel">
            <option value="cisco">Cisco</option>
            <option value="bitcoin">Bitcoin</option>
          </select>
        </mat-form-field>
      </div>

      <div class="form-group">
        <label for="power">Functions</label>
        <mat-form-field>
          <select matNativeControl [(ngModel)]="model.analysisFunction" name="analysisFunction">
            <option value="funkcia1">Option 1</option>
            <option value="funkcia2">Option 2</option>
            <option value="funkcia3">Option 3</option>
          </select>
        </mat-form-field>
      </div>

      <div class="form-group">
        <label for="name">Start date:</label>
        <mat-form-field>
          <mat-label>Inherited calendar color</mat-label>
          <input matInput [matDatepicker]="picker1" [(ngModel)]="model.startDate" name="startDate">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="form-group">
        <label for="alterEgo">End date</label>
        <mat-form-field>
          <mat-label>Custom calendar color</mat-label>
          <input matInput [matDatepicker]="picker2" [(ngModel)]="model.endDate" name="endDate">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2 color="primary"></mat-datepicker>
        </mat-form-field>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!optionsForm.form.valid">Submit</button>

    </form>
  </div>

</div>

<app-data-charts [dataFromServer]="dataFromServer" [showDataChartComponent] = "showDataComponent"></app-data-charts>



<!-- <mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Personal data
      </mat-panel-title>
      <mat-panel-description>
        Type your name and age
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input matInput placeholder="First name">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Age">
    </mat-form-field>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Self aware panel
      </mat-panel-title>
      <mat-panel-description>
        Currently I am {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>I'm visible because I am open</p>
  </mat-expansion-panel>
</mat-accordion> -->