<div class="container">
  <div>
    <h1>Analysis options</h1>
    <form (ngSubmit)="onSubmit()" #optionsForm="ngForm">

      <div class="form-group">
        <label for="name">Dataset</label>
        <mat-form-field>
          <select matNativeControl required [(ngModel)]="model.dataOption" name="dataOption" #dataOption="ngModel">
            <option value="data1">Data 1</option>
            <option value="data2">Data 2</option>
          </select>
        </mat-form-field>
      </div>

      <div class="form-group">
        <label for="power">Functions</label>
        <mat-form-field>
          <select matNativeControl [(ngModel)]="model.analysisFunction" name="analysisFunction">
            <option value="funkcia1">Option 1</option>
            <option value="funkcia2">Option 2</option>
            <option value="funkcia3">Option 3</option>
          </select>
        </mat-form-field>
      </div>

      <div class="form-group">
        <label for="name">Start date:</label>
        <mat-form-field color="accent">
          <mat-label>Inherited calendar color</mat-label>
          <input matInput [matDatepicker]="picker1" [(ngModel)]="model.startDate" name="startDate">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="form-group">
        <label for="alterEgo">End date</label>
        <mat-form-field color="accent">
          <mat-label>Custom calendar color</mat-label>
          <input matInput [matDatepicker]="picker2" [(ngModel)]="model.endDate" name="endDate">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2 color="primary"></mat-datepicker>
        </mat-form-field>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!optionsForm.form.valid">Submit</button>

    </form>
  </div>

  <!-- <div class="container2">
    <h1>Diacnozis</h1>
    {{diagnostic}}
    <br>
    {{model.endDate}}
    {{model.startDate}}
  </div> -->

</div>