.info-container{
  color:rgb(82, 80, 80);
  font-style:italic; font-family:Georgia, Times, serif;
  margin-left: 20px;
}

h1{
  text-align: center;
  font-style:italic; font-family:Georgia, Times, serif;
  color:rgb(66, 59, 59);
}

mat-form-field {
    margin-right: 50px;
  }

  form{
    margin-top: 5%;
    margin-bottom: 5%;
  }

button{
    margin-left: 46%;
    margin-top: 2%;
}

#footer {
  text-align: center;
  font-family: "Georgia", Times New Roman, monospace;
  opacity: 0.5;
  line-height: 0px;
  position: absolute;
  right: 0;
  left: 0;
  padding: 1rem;
}

#list2 { width:100%; }
#list2 ol { font-style:italic; font-family:Georgia, Times, serif; font-size:24px; color:#9ca0a1;  }
#list2 ol li { }
#list2 ol li p { padding-left:8px; padding-right:8px; font-style:normal; font-family:Arial; font-size:13px; color:rgb(82, 80, 80); border-left: 1px solid #999; }